<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="https://cdn.dribbble.com/users/492035/screenshots/8986102/media/7de7ac27629bc67982468b4bd277817e.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/design.css" />

    <script src="../libs/jquery.dataTables.min.js"></script>
    <script src="../libs/dataTables.bootstrap4.min.js"></script>

    <title>Node-js Movie Finder</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand text-white" href="/"> Employee Database System </a>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
            <a href="/addnewemployee" class="nav-link text-white">Add New Employee</a>
          </li>
          <li class="nav-item">
            <a href="/search" class="nav-link text-white">Search</a>
          </li>
        </ul>
      </div>
    </nav>
 
